<div class="container-fluid">
<div class="row">
  <div class="col-md-2">
    <form>
        <select class="form-control" id="leaderboardSelect" (change)="onLeaderboardChange()">
          <option value="barbarian">Barbarian</option>
          <option value="crusader">Crusader</option>
          <option value="dh">Demon Hunter</option>
          <option value="wd">Witch Doctor</option>
          <option value="wizard">Wizard</option>
          <!-- need to handle return type for group rifts
          <option value="2p">2 Players</option>
          <option value="3p">3 Players</option>
          <option value="4p">4 Players</option>
          -->
        </select>
    </form>
    <p>Use the dropdown menu above to change leaderboards. <br><br>Results loaded are always current</p>
  </div>
  <div class="col-md-5">
    <h4>Softcore</h4>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Paragon</th>
          <th>Rift</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leader of leaders | paginate: { id: 'softcore', itemsPerPage: 8, currentPage: p1 }">
          <td>{{ leader.playerRank + 1 }}</td>
          <td>{{ leader.battleTag }}</td>
          <td>{{ leader.paragon }}</td>
          <td>{{ leader.riftLevel }}</td>
          <td>{{ leader.riftTime | date:'mmss' }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
    id="softcore"
    (pageChange)="p1 = $event"
    maxSize="7"
    directionLinks="true"
    autoHide="true">
    </pagination-controls>
  </div>
  <div class="col-md-5">
    <h4>Hardcore</h4>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>Rank</th>
          <th>HC Player</th>
          <th>Paragon</th>
          <th>Rift</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leader of hcLeaders | paginate: { id: 'hardcore', itemsPerPage: 8, currentPage: p }">
          <td>{{ leader.playerRank + 1 }}</td>
          <td>{{ leader.battleTag }}</td>
          <td>{{ leader.paragon }}</td>
          <td>{{ leader.riftLevel }}</td>
          <td>{{ leader.riftTime | date:'mmss' }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      id="hardcore"
      (pageChange)="p = $event"
      maxSize="7"
      directionLinks="true"
      autoHide="true">
    </pagination-controls>
  </div>
</div>
</div>
